
<div class="container">
  <div class="row">
<div class="col-md-6">
	<% if product.image.attached? %>

		<hr><%= image_tag product.image.variant(resize: "200x200") %>

	<% end %>

		<%= link_to product.title, product %>
    <td><%= product.price %></td>
</div>
</div>
</div>
